  <div class="container" style="padding-top:60px">
    <div class="row">
      <section class="main col-md-9">
        <article>
        <h2>About</h2>
        <p class="">
          I am studying Computer Programming (CPP) at Seneca College since from May 2022. I am an
          international student came from Punjab, India. WEB222 has been one of my favorite
          subjects because it helps me learn to build a website.
        </p>
        <p>Now, I am studying WEB322 where I am learning to use the framework and tools for web applications.</p>
        </article>
        <span><b>Date:</b> February 2, 2023</span>

        <div class="education">
          <h3>Education</h3>
          <div>
            <div class="card1">
              <h4>Diploma in Computer Programming | <i>Seneca College</i></h4>
              <span class="">2022-2023 (expected) </span>
              <p class="">
                I am currently pursuing my Diploma in Computer Programming from Seneca college. Here I
                have learned various programming languages like C, C++, Javascript etc.
              </p>
            </div>
          </div>
        </div>
      </section>
      <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Updates regarding my progress and projects will be posted soon.</p>
      </aside>
    </div>
  </div>