<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Error 404 - Page Not Found</title>
   <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 40px;
    }

    h1 {
      font-size: 36px;
      color: #444;
    }

    p {
      font-size: 20px;
      color: #666;
      margin-top: 20px;
    }

    a {
      font-size: 20px;
      color: #08bbfc;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Error 404 - Page Not Found</h1>
  <p>The page you could not be found on server.</p>
  <a href="/">Return to home page</a>
</body>
</html>
