@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Noto+Sans&display=swap");
body {
  font-family: 'Nato Scans', sans-serif;
}

.navbar {
  background-color: #333333;
  border: none;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
}

.main {
  margin-bottom: 30px;
}

.main h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main p {
  font-size: 18px;
  line-height: 1.5;
}

.main span {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  color: #a8a7a7;
}

.education h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card1 {
    border-radius: 5px;
    box-shadow: 2px 2px 8px 4px rgb(154, 154, 158);
    padding: 10px;
    margin-bottom: 30px;
}

.card1 h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card1 p {
  font-size: 16px;
  line-height: 1.5;
}


